  .download-button {
  	display: inline-block;
  	padding: 10px 20px;
  	background-color: var(--transparent-background);
  	color: var(--text-color);
  	text-decoration: none;
  	border-radius: 0.3rem;
  	border: 1px solid #ccc;
  	font-size: 16px;
  	transition: background-color 0.3s ease;
  	margin-bottom: 20px;

  	&:hover {
  		background-color: var(--hover-color);
  	}
  }