<article>
	<h1 class="title">Johannes Schäfer</h1>
	<p class="intro">I'm a Senior Software-Developer. I studied Math until I found my love for coding. After that, I
		just switched professions had a lot of hands-on experience. Since then, I also learned to lead teams and to plan
		long-term for whatever the customer has in mind.</p>
	<section aria-label="Key Skills">
		<h2 class="section-title" id="skills-heading">Key Skills</h2>
		<ul class="skills-list" aria-labelledby="skills-heading" role="list">
			<li><b>Languages:</b> Java, JEE, Javascript, Typescript, Python, Dart, CSS, HTML</li>
			<li><b>Frameworks:</b> Spring-Boot, Angular, React, NodeJS, Express, Flutter, Jest, Karma, ngrx, Swagger:
				OpenAPI 3.1 Specs, Electron</li>
			<li><b>Databases:</b> PostgreSQL, MongoDB, GraphQL</li>
			<li><b>Container Environments:</b> LXC, Docker, OpenShift, AWS</li>
			<li><b>Work Methods:</b> OOP, OOD, OOA, Scrum, Continuous Integration, Continuous Deployment, DevOps, SAFe
			</li>
		</ul>
	</section>
	<section aria-label="Projects">
		<h2 class="section-title">Projects</h2>
		<div class="project" aria-labelledby="Trueinnovation/Prime-Force-Frankfurt (2022-now)">
			<h3 class="project-title">Trueinnovation/Prime-Force-Frankfurt (2022-now)</h3>
			<ul>
				<li class="project-description" role="listitem">(Senior / Team-Lead) Development and Support for amag.ch
					(and adjoining
					services) with AEM (Adobe Experience Manager) (Infrastructure Adobe Cloud, Backend Spring-Boot,
					Frontend
					Sightly)</li>

			</ul>
		</div>
		<div class="project" aria-labelledby="Lyncker & Theis GmbH (2017-2022)">
			<h3 class="project-title">Lyncker & Theis GmbH (2017-2022)</h3>
			<ul>
				<li class="project-description" role="listitem">(Medior / Frontend-Lead) Credit Comparison Portal for
					CHECK24 (Angular,
					NestJS)</li>
				<li class="project-description" role="listitem">(Medior) Backend Service Portal for Telekom
					(Spring-Boot)</li>
				<li class="project-description" role="listitem">(Medior) ICE-Portal (offline available in ICEs) for DB
					ICE (Angular)
				</li>
				<li class="project-description" role="listitem">(Medior / Frontend-Lead) Web Portal 2.0 & Backend for DB
					Regio
					(OpenShift &
					AWS, NestJS, Angular)</li>
				<li class="project-description" role="listitem">(Medior / Frontend-Lead) Web Portal (offline available
					in trains) &
					Backend
					for DB Regio (OpenShift & AWS, Spring-Boot, Angular)</li>
				<li class="project-description" role="listitem">(Medior) CMS for DB Systel (OpenShift & AWS,
					Spring-Boot, Angular)</li>
				<li class="project-description" role="listitem">(Junior) Development of an AI-supported learning
					algorithm to optimize
					learning time for Brainyoo</li>
				<li class="project-description" role="listitem">(Junior) Insurance Calculator Frontend for R+V (Angular)
				</li>
				<li class="project-description" role="listitem">(Junior) Backend & Database Development for the learning
					software
					Brainyoo
					(Spring-Boot)</li>
			</ul>
		</div>
	</section>
	<section aria-label="Education">
		<h2 class="section-title" id="education-heading">Education</h2>
		<ul class="education-list" aria-labelledby="education-heading" role="list">
			<li role="listitem">Business Administration Studies 2009-2011 (Hochschule Darmstadt)</li>
			<li role="listitem">Mathematics Studies 2012-2017 (Johannes Gutenberg University Mainz)</li>
			<li role="listitem">Developer at Lyncker & Theis GmbH</li>
			<li role="listitem">Developer at Trueinnovation/Prime-Force Frankfurt</li>
			<li role="listitem">Certified Architect (iSAQB® CPSA-FL)</li>
			<li role="listitem">Udemy Course Badges (Spring-Boot, Flutter, Angular, CSS, AWS, CyberSecurity)</li>
			<li role="listitem">Languages: German (native), English C2 (CEFR), Italian A2 (CEFR)</li>
		</ul>
	</section>
	<a href="assets/documents/CV_Johannes_Schäfer.pdf" download class="download-button"
		aria-label="Download CV">Download CV</a>
</article>