  .download-button {
  	display: inline-block;
  	padding: 10px 20px;
  	background-color: transparent;
  	color: #fff;
  	text-decoration: none;
  	border-radius: 0.3rem;
  	border: 1px solid #ccc;
  	font-size: 16px;
  	transition: background-color 0.3s ease;
  	margin-bottom: 20px;

  	&:hover {
  		background-color: rgb(46, 46, 46);
  	}
  }