<header class="header">
	<h1 class="header-title">About Me</h1>
	<p class="header-intro">
		Welcome to my About page. If you want to know more about me, this is the right place to be. I'm a lot more than
		just an awesome software developer :D
	</p>
</header>

<section class="section about">
	<h2 class="section-title">Character</h2>
	<div class="content-wrapper">
		<img
			src="../../assets/images/johannes.webp"
			alt="A description of the image for screen readers"
			class="section-img"
		/>
		<div class="section-text-column">
			<p class="section-text">
				I think the first thing you should know about me is the kind of person I am on a regular basis. I'm
				probably the happiest morning person you encounter at the dailies. Always a smile and a strong "good
				morning!"; starting the day cheerful and probably annoying those who haven't yet had their coffee. If
				I'm in home office, you can probably start texting/calling me as soon as I open my connection-apps like
				MS-Teams or Slack. I pride myself on having an open ear and helping hand from early in the morning until
				it's time to end the workday.
			</p>
			<p class="section-text">
				When it comes to work, I'm a very focused and determined person. I'm always looking for ways to improve
				my skills and learn new things. I'm also very passionate about what I do, and I always give my best to
				achieve the most optimal results. But I'm also a chaotic person. My modus operandi switches between
				intense focus on my work and helping out anyone that needs my expertise or consulting on an issue. I
				like to work at my own pace and with as much un-scheduled time as possible. It's mostly a boon because
				I'm able to get the important tasks finished quicker. The downside is that sometimes small stuff falls
				through the cracks if I don't write it down. You will get an amazing employee with a lot of drive, focus
				and team player-skills, who is just a bit of a scatterbrain for small stuff :D
			</p>
		</div>
	</div>
</section>

<section class="section skills">
	<h2 class="section-title">Cooking</h2>
	<div class="content-wrapper">
		<img src="../../assets/images/food.webp" alt="A DB Regio S-Bahn train in germany" class="section-img" />
		<div class="section-text-column">
			<p class="section-text">
				I would say the first thing anyone learns about me and my hobbies is my passion for cooking. It's also
				the first thing I will proudly showcase to anyone that asks. I never really learned cooking while living
				with my parents. I understood the basics, but nothing more. During my time at the university, I was
				forced to cook for myself and got better and better at it. (Especially Chili con Carne!) But I also
				noticed how cooking and preparing ingredients was just very calming. It was also a very nice opportunity
				to get creative and try new ideas.
			</p>
			<p class="section-text">
				Over time, I learned new cooking techniques, mostly while trying to cook something I saw professionals
				cook on YouTube. Now I have a working knowledge about most -sauces, the standard combinations as a base
				for most Mediterranean and east-Asian dishes, how to cook most meats, and much more.
			</p>
			<p class="section-text">
				Most weekends are probably spent trying out something new or perfecting one of the recipes I know by
				heart. Which is to say, I more often than not don't cook by recipe, but try out new combinations I think
				could work together. With Success. Mostly :D
			</p>
			<p class="section-text">
				So yes, I love cooking. Especially after a hard day at work, cooking is my kind of meditation and
				relaxation.
			</p>
			<p class="section-text">
				PS: Warning to my friends & coworkers: I like my food very, very hot. Just keep that in mind, if you ask
				me to cook something ;D
			</p>
		</div>
	</div>
</section>

<section class="section skills">
	<h2 class="section-title">Dancing</h2>
	<div class="content-wrapper">
		<img src="../../assets/images/owk.webp" alt="A DB Regio S-Bahn train in germany" class="section-img" />
		<div class="section-text-column">
			<p class="section-text">
				Since almost as long as I remember, I've had a lot of fun dancing. At first, just folklore-dances, but
				later I also started ball-room dances.
			</p>
			<p class="section-text">
				From age 6 onwards I participated in a Folklore and Nature Preservation Club called OWK (Odenwaldklub).
				At that age it was mostly just playing with other kids, arts & crafts and giving my parents a break :D
				We also started with very simple dances that had the first few steps out of the real folk-dances. A lot
				of jumping, swapping partners, and moving in sync with every other kid.
			</p>
			<p class="section-text">
				Going forward, the dancing overtook most of what we did when I became a teenager. We also had a few
				performances each year, where we could showcase the folk-dances of the German region I grew up in.
			</p>
			<p class="section-text">
				In my teenage years I also started ballroom-dancing. I always liked dancing and weaving from one figure
				to another, handling all of the intricacies, communication with your partner and/or the whole group
				non-verbally, and yes, showing off a little :D
			</p>
			<p class="section-text">
				Sadly, when I moved away for my studies, I had to leave the OWK and I also stopped ballroom-dancing for
				a while. Luckily, I rediscovered my love for it in my late twenties, and now enjoy it again on a regular
				basis.
			</p>
			<p class="section-text">Favorites: Cha Cha Cha, Wiener Waltz, Tango and Slow Waltz</p>
		</div>
	</div>
</section>

<section class="section skills">
	<h2 class="section-title">Bike-Rides</h2>
	<div class="content-wrapper">
		<img src="../../assets/images/bikeride.webp" alt="A DB Regio S-Bahn train in germany" class="section-img" />
		<div class="section-text-column">
			<p class="section-text">
				There is nothing better (besides cooking), than riding your bike for an hour or two, to clear your head
				and forget your problems. Riding alongside a river or through a beautiful vineyard or forest with
				yourself, , nature, and a slight burn in your muscles.
			</p>
			<p class="section-text">
				I started riding just as probably everyone else. My dad taught me when I was six. But ever since then,
				especially in my teens, I rode everywhere with my bike. Be it to school in the next town over, to my
				friends, or just to have fun, almost no weekday went by without me riding at least a little bit.
			</p>
			<p class="section-text">
				And that habit stayed with me throughout my whole life. From home to school? Bike! From dormitories to
				the other side of the city to university? Bike! First Job: Pizza Delivery via Bike! Driving to work now?
				Bike!
			</p>
			<p class="section-text">So, if you know a nice track for a relaxing ride, just hit me up :D</p>
		</div>
	</div>
</section>
