.skills-category {
	margin-bottom: 2em;
	border-radius: 10px;
	overflow: hidden;

	.category-title {
		font-size: 1.5em;
		margin-bottom: 1em;
	}

	.skills-group {
		margin-bottom: 1em;
		padding: 0.4rem;
		border: 0.2rem solid #6c757d;
		border-radius: 10px;
		overflow: hidden;

		.group-title {
			font-size: 1.2em;
			margin-bottom: 0.5em;
			margin-top: 0;
		}

		.skill-item {
			display: flex;
			flex-direction: column;
			margin-bottom: 0.5em;

			.skill-name {
				width: 100%;
			}

			.progress-value-wrapper {
				display: flex;
				width: 100%;
				align-items: center;
			}

			.skill-level {
				flex-grow: 1;
				height: 1em;
				max-width: 800px;
			}

			.skill-value {
				text-align: right;
				white-space: nowrap;
				min-width: 1px;
				margin-left: 0.5em;
				width: 8ch;
				flex-grow: 0.7;
			}
		}
	}
}
