@import '../assets/scss/_variables';

.container {
	display: flex;
	height: 100vh;

	.inner-container {
		width: 100%;
		overflow: auto;

		js-portfolio-navigation {
			position: sticky;
			top: 0;
			z-index: 1000;
		}
	}
}