@import '../assets/scss/_variables';

.container {
	display: flex;
	height: 100vh;

	@media (max-width: 939px) {
		js-portfolio-sidebar {
			display: none;
		}
	}

	.inner-container {
		width: 100%;
		overflow: scroll;

		js-portfolio-navigation {
			position: sticky;
			top: 0;
			z-index: 1000;
		}
	}
}
