<aside role="complementary">
	<div class="content">
		<div class="profile">
			<img src="https://picsum.photos/200" alt="Picture of the website developer: Johannes Schäfer" />
			<h2>Johannes Schäfer</h2>
			<p>I'm a Senior Software Developer living in Germany. I like to work in all aspects of Software, from
				Backend to Frontend. In my free time I love to cook fancy dishes, go for bike-rides and I'm an avid
				dancer.</p>
		</div>

		<div class="skills">
			<h3>Skills</h3>
			<label for="skill1">Typescript/Javascript</label>
			<progress id="skill1" max="100" value="80"> 80% </progress>
			<label for="skill2">Java</label>
			<progress id="skill2" max="100" value="75"> 75% </progress>
			<label for="skill3">SQL</label>
			<progress id="skill3" max="100" value="60"> 50% </progress>
			<label for="skill4">Flutter/Dart</label>
			<progress id="skill4" max="100" value="65"> 65% </progress>
			<label for="skill5">HTML/CSS</label>
			<progress id="skill5" max="100" value="80"> 80% </progress>
			<label for="skill6">Python</label>
			<progress id="skill6" max="100" value="60"> 60% </progress>
			<div class="link">
				<a routerLink="/cv" routerLinkActive="active" aria-label="Navigate to CV">And many more
					under CV!</a>
			</div>
		</div>
	</div>
	<div class="links">
		<h3>Connect with me</h3>
		<a href="https://www.linkedin.com/in/johannes-schäfer-78b7a71b7" target="_blank" rel="noopener noreferrer">
			<span class="icon-linkedin" aria-hidden="true"></span>LinkedIn
		</a>
		<a href="https://github.com/JoSchae" target="_blank" rel="noopener noreferrer">
			<span class="icon-github" aria-hidden="true"></span>GitHub
		</a>
		<a href="emailto:johannes.ludwig.schaefer@gmail.com" target="_blank" rel="noopener noreferrer">
			<span class="icon-mail" aria-hidden="true"></span>E-Mail</a>
	</div>
</aside>