aside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	width: 20vw;
	overflow: scroll;

	.content {
		padding: 20px;

		.profile {
			text-align: center;

			img {
				border-radius: 50%;
				width: 10rem;
				height: 10rem;
				object-fit: cover;
			}

			h2 {
				font-size: 20px;
				margin-top: 10px;
			}

			p {
				font-size: 16px;
			}
		}

		.skills {

			h3 {
				font-size: 18px;
				margin-bottom: 10px;
			}

			label {
				font-size: 16px;
			}

			progress {
				width: 100%;
			}

			.link {
				margin-top: 2rem;
			}
		}
	}

	.links {
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		h3 {
			font-size: 18px;
			margin-bottom: 10px;
		}

		a {
			display: flex;
			margin: 0.5rem 0;
			appearance: none;

			[class^="icon-"],
			[class*=" icon-"] {
				fill: #fff;
				margin-right: 0.5rem;
			}
		}
	}
}
