@import '../../assets/scss/_variables';

$button-width: 24px;
$button-padding-left-right: 4px;

.navbar {
	display: flex;
	position: sticky;
	top: env(safe-area-inset-top);
	z-index: 1000;
	align-items: center;
	justify-content: flex-end;
	background-color: var(--transparent-background);
	flex-wrap: wrap;

	.menu-button {
		display: none;
		position: relative;
		z-index: 2;
		padding: 2px $button-padding-left-right;
		background-color: rgb(255, 255, 255);
		border: none;
		border-radius: 4px;
		margin-top: 0.4rem;
		cursor: pointer;

		&-icon {
			font-size: $button-width;
		}
	}

	&-list {
		position: sticky;
		top: env(safe-area-inset-top);
		left: calc(100% + 0.5rem);
		z-index: 1;
		list-style-type: none;
		margin: 0;
		margin-top: 0.4rem;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-wrap: wrap;

		@media (max-width: 940px) {
			display: none; // Hide the desktop menu items on mobile
		}

		&-item {
			margin: 0.2rem;

			&-link {
				padding: 0.2rem 2rem;
				flex: 1;
				border-radius: 0.3rem;
				margin: 0.2rem;
				text-align: center;
				background-color: var(--background-color);
				color: var(--text-color);
				border: 1px solid #ccc;
				transition: background-color 0.3s ease;

				&:hover {
					background-color: var(--hover-color);
				}
			}
		}
	}

	&-list-mobile {
		display: none;
		position: absolute;
		top: 0;
		right: calc($button-width + $button-padding-left-right + 1rem);
		z-index: 2;
		list-style-type: none;
		margin: 0;
		flex-direction: column;
		width: max-content;
		padding: 0;

		&-item {
			background-color: var(--background-color);
			text-align: center;
			border: 1px solid #ccc;
			border-radius: 10px;
			margin: 0.1rem;

			&-link {
				display: block;
				padding: 10px 20px;

			}

			&-button {
				appearance: none;
				background-color: transparent;
				border: none;
				color: var(--text-color);
				padding: 10px 20px;
				cursor: pointer;

				&:hover {
					color: darkgrey;
				}
			}
		}
	}

	button {
		font-size: 1rem;
	}


	@media screen and (max-width: 940px) {
		.menu-button {
			display: block;
		}

		.navbar-list-mobile.show {
			// Show the mobile menu items when the 'show' class is present
			display: flex;
		}
	}
}