<nav role="navigation" class="navbar">
	<ul class="navbar-list">
		<li class="navbar-list-item"><a class="navbar-list-item-link" routerLink="/home" routerLinkActive="active"
				aria-label="Navigate to home">Home</a></li>
		<li class="navbar-list-item"><a class="navbar-list-item-link" routerLink="/cv" routerLinkActive="active"
				aria-label="Navigate to CV">CV</a></li>
		<li class="navbar-list-item"><a class="navbar-list-item-link" routerLink="/about" routerLinkActive="active"
				aria-label="Navigate to about">About</a></li>
		<li class="navbar-list-item"><a class="navbar-list-item-link" routerLink="/skills" routerLinkActive="active"
				aria-label="Navigate to skills">Skills</a></li>
	</ul>
</nav>