<nav role="navigation" class="navbar" #navbar>
	<button class="menu-button" aria-label="Menu" id="mobileNavMenu" (click)="toggleNavbar()">
		<span class="icon-menu menu-button-icon" aria-hidden="true"></span>
	</button>
	<ul class="navbar-list">
		<li class="navbar-list-item">
			<a
				class="navbar-list-item-link"
				(click)="scrollToTop()"
				routerLink="/home"
				routerLinkActive="active"
				aria-label="Navigate to home"
				>Home</a
			>
		</li>
		<li class="navbar-list-item">
			<a
				class="navbar-list-item-link"
				(click)="scrollToTop()"
				routerLink="/cv"
				routerLinkActive="active"
				aria-label="Navigate to CV"
				>CV</a
			>
		</li>
		<li class="navbar-list-item">
			<a
				class="navbar-list-item-link"
				(click)="scrollToTop()"
				routerLink="/about"
				routerLinkActive="active"
				aria-label="Navigate to about"
				>About</a
			>
		</li>
		<li class="navbar-list-item">
			<a
				class="navbar-list-item-link"
				(click)="scrollToTop()"
				routerLink="/skills"
				routerLinkActive="active"
				aria-label="Navigate to skills"
				>Skills</a
			>
		</li>
		<li class="navbar-list-item">
			<button
				class="navbar-list-item-link"
				(click)="toggleTheme()"
				aria-label="Switch the theme between dark & light"
			>
				Switch Theme
			</button>
		</li>
	</ul>
	<ul class="navbar-list-mobile" [style.display]="showMobileNavbar ? 'flex' : 'none'">
		<li class="navbar-list-mobile-item">
			<a
				class="navbar-list-mobile-item-link"
				(click)="mobileClick()"
				routerLink="/home"
				routerLinkActive="active"
				aria-label="Navigate to home"
				>Home</a
			>
		</li>
		<li class="navbar-list-mobile-item">
			<a
				class="navbar-list-mobile-item-link"
				(click)="mobileClick()"
				routerLink="/cv"
				routerLinkActive="active"
				aria-label="Navigate to CV"
				>CV</a
			>
		</li>
		<li class="navbar-list-mobile-item">
			<a
				class="navbar-list-mobile-item-link"
				(click)="mobileClick()"
				routerLink="/about"
				routerLinkActive="active"
				aria-label="Navigate to about"
				>About</a
			>
		</li>
		<li class="navbar-list-mobile-item">
			<a
				class="navbar-list-mobile-item-link"
				(click)="mobileClick()"
				routerLink="/skills"
				routerLinkActive="active"
				aria-label="Navigate to skills"
				>Skills</a
			>
		</li>
		<li class="navbar-list-mobile-item">
			<button
				class="navbar-list-mobile-item-link"
				(click)="toggleTheme()"
				aria-label="Switch the theme between dark & light"
			>
				Switch Theme
			</button>
		</li>
	</ul>
</nav>
