$section-color: #666;
$section-background: #f5f5f5;

img {
	max-height: 360px;
	width: fit-content;
	border-radius: 10px;
	object-fit: contain;
	max-width: 100%;
}

.header {
	.header-title {
		font-size: 2em;
	}

	.header-intro {
		font-size: 1.2em;
	}
}

.section {
	display: flex;
	flex-direction: column;
	padding: 20px;

	.section-title {
		font-size: 1.5em;
		align-self: flex-start;
	}

	.content-wrapper {
		display: flex;
		flex-direction: row;
		align-items: flex-start;

		.section-img {
			order: 2;
			max-width: 200px;
			height: auto;
			border-radius: 10px;
			margin-right: 2rem; // Add right margin to the image
		}

		.section-text-column {
			order: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;

			.section-text {
				font-size: 1em;
				padding: 0;
			}
		}
	}

	&:nth-of-type(even) {
		.section-title {
			align-self: flex-end;
		}

		@media screen and (min-width: 769px) {
			.content-wrapper {
				flex-direction: row-reverse;
			}
		}

		.section-img {
			order: 2;
			margin-left: 0; // Add left margin to the image
			margin-right: 2rem; // Reset right margin
		}

		.section-text-column {
			order: 1;

			.section-text {
				margin-right: 0; // Add right margin to the text
				margin-left: 2rem; // Reset left margin
			}
		}
	}

	&:nth-of-type(odd) {
		.section-img {
			margin-left: 2rem; // Add left margin to the image
			margin-right: 0; // Reset right margin
		}
	}

	@media screen and (max-width: 768px) {

		.content-wrapper {
			flex-direction: column;

			.section-img {
				order: 1;
				margin: 0 auto;
				max-width: 100%;
			}

			.section-text-column {
				order: 2;

				.section-text {
					width: 100%;
					margin-left: 0;
					margin-right: 0;
				}
			}
		}
	}
}

.about,
.skills,
.projects {
	margin-bottom: 20px;
}
